h1 {
    background-color: rgb(173, 173, 252);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: black;
    text-align: justify;
    font-size: medium;
}

div{
    max-width: 600px;
    height: 100px;
    background-color: rgb(213, 172, 252);
}
